In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('drinks.csv')

In [3]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [8]:
df.loc[df['beer_servings'].idxmax()]

country                         Namibia
beer_servings                       376
spirit_servings                       3
wine_servings                         1
total_litres_of_pure_alcohol        6.8
Name: 117, dtype: object

Пива больше всего пьют в Намибии

In [10]:
df.loc[df['wine_servings'].idxmax()]

country                         France
beer_servings                      127
spirit_servings                    151
wine_servings                      370
total_litres_of_pure_alcohol      11.8
Name: 61, dtype: object

Вина во Франции

In [13]:
df.loc[df['spirit_servings'].idxmax()]

country                         Grenada
beer_servings                       199
spirit_servings                     438
wine_servings                        28
total_litres_of_pure_alcohol       11.9
Name: 68, dtype: object

Другого в Гренаде